/* Style labels */
.label {
    -fx-font-size: 16px;
    -fx-text-fill: #333; /* Dark gray text color */
}

/* Style text fields */
.text-field {
    -fx-font-size: 16px;
    -fx-pref-width: 300px;
}

/* Style sliders */
.slider {
    -fx-pref-width: 300px;
}

/* Style buttons */
.button {
    -fx-font-size: 16px;
    -fx-background-color: #007acc; /* Blue color for the button */
    -fx-text-fill: white;
    -fx-background-radius: 3px;
    -fx-pref-width: 150px; /* Button width */
    -fx-pref-height: 40px; /* Button height */
}
.small-info-button {
    -fx-font-size: 10px;
    -fx-padding: 2px 5px;
    -fx-background-radius: 5px;
    -fx-min-width: 50px;
    -fx-min-height: 20px;
    -fx-max-width: 50px;
    -fx-max-height: 20px;
}



/* Style the TextArea */
.text-area {
    -fx-font-size: 16px;
    -fx-pref-height: 200px;
}

/* Style the GridPane */
.grid-pane {
    -fx-padding: 20px;
    -fx-hgap: 20px;
    -fx-vgap: 20px;
}

/* Style the stats label */
.stats-label {
    -fx-font-size: 14px;
    -fx-text-fill: #555; /* A slightly lighter text color */
    -fx-padding: 5px;
    -fx-border-color: #888; /* A border color for distinction */
    -fx-border-width: 1px;
    -fx-background-color: #f5f5f5; /* Light gray background */
    -fx-background-radius: 3px;
    -fx-max-width: 300px; /* Maximum width for the label */
}
